# Archivos generados por el proyecto
bin/
obj/
packages/
*.user
*.suo
*.tmp
*.cache
*.apsx.designer.cs
*.designer.cs
*.vshost.exe


# Archivos específicos de tu entorno
*.bak
~$
.vs/

# Otros patrones útiles
.vscode/
*.log

# Para Rider
.idea/

# Archivos de configuración de NuGet
*.nupkg

*.generatedassets
*.obj